body{
 border: #FFFFFFFF;
}
#banner{
    width:  100%;
}
.principal{
    background-color: #cccccc;
    padding: 30px;
}
.titulo-principal{
    padding-left: 20px;
}
.title-centralizado{
    text-align: center;
}
p{
    text-align: center;
    
}

#missao {
    font-size: 20px
}

em strong{
    color:  #FF0000;
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color: #FFFFFFFF;
    padding: 20px;
}


ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios{
    width: 50%;
}